{% extends 'flights/layout.html' %}

{% block title %} Flights {% endblock %}

{% block body %}
    <div>
        <h1>Flight list</h1>
        <ul>
            {% for flight in flights %}
                <li><a href="{{flight.id}}/">{{flight}}</a> | {{flight.duration}} hrs {% if flight.is_full == True %} | booked {% endif %}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Add new flight:</h3>
        <form method="POST" action="{% url 'flights-index' %}">
            {% csrf_token %}
            <select name="origin" required>
                {% for airport in airports %}
                    <option value="{{airport.code}}">{{airport}}</option>
                {% endfor %}
            </select>
            <select name="destination" required>
                {% for airport in airports %}
                    <option value="{{airport.code}}">{{airport}}</option>
                {% endfor %}
            </select>
            <input type="text" name="duration" placeholder="flight duration in hours">
            <input type="submit">
        </form>
    </div>


{% endblock %}