{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Create {% endblock %}

{% block content %}
        <div class="content-section">
            <form method="POST" action="">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Delete Post</legend>
                    <h4>Are you sure you want to delete, "{{post.title}}" ? </h4>
                </fieldset>
                <input type="submit">
                <a href="{% url 'blog-post-x' post.pk %}">Go back to Post</a>
            </form>
        </div>
{% endblock %}